@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&family=Quicksand:wght@500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .nav-img {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

header ul {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  padding-left: 0;
}

header li:hover {
  font-weight: 700;
}

@media screen and(max-width:1000px) {
  header ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }
}

#home {
  display: flex;
  margin: 5rem;
  padding: 5rem 0 0 5rem;
  background-color: #eaf6f4;
}

.home-content {
  max-width: 50%;
}

.home-content h1,
.home-content p,
.home-content button {
  margin: 1.5rem;
}

h1 {
  font-size: 48px;
  color: #535353;
  font-weight: 500;
}

p {
  color: #515151;
  font-size: 20px;
  font-weight: 400;
  width: 80%;
}

button {
  padding: 0.7rem;
  border: none;
  background-color: #2a9d8f;
  color: white;
}
