@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&family=Quicksand:wght@500;700&display=swap");

html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  font-family: "Poppins", sans-serif;
}

header {
  box-shadow: #515151;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  overflow: auto;
  top: 0;
  align-self: flex-start;
}

header .nav-img {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

header ul {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  padding-left: 0;
}

header li a {
  text-decoration: none;
  color: #515151;
  transition: all 0.2s ease-in-out;
}

header li a:hover {
  font-weight: 700;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #2a9d8f;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  margin: 2rem 5rem 15rem 5rem;
}

#home {
  padding: 5rem 0 0 5rem;
  background-color: #eaf6f4;
}

.home-content {
  max-width: 50%;
}

.home-content h1,
.home-content p,
.home-content button {
  margin: 1.5rem;
}

.home-content p {
  width: 80%;
}

h1 {
  font-size: 48px;
  color: #535353;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

h2 {
  font-weight: 400;
  font-size: 26px;
  color: #2a9d8f;
}

h3 {
  color: #2a9d8f;
  font-size: 16px;
  font-weight: 400;
}

img {
  object-fit: cover;
}

p {
  color: #515151;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}

button {
  padding: 0.7rem;
  border: none;
  background-color: #2a9d8f;
  color: white;
}

#pohon-tertanam {
  justify-content: center;
}

#pohon-tertanam img {
  margin-right: 5rem;
}

#pohon-tertanam .pohon-tertanam-data h1 {
  margin-bottom: 0;
}

#tentang-kami {
  gap: 10rem;
}

#tentang-kami h1 {
  margin: 1rem 0 3rem 0;
  line-height: 1.2em;
}

#kami-butuh-kamu .kbk-content {
  margin-right: 5rem;
}

#kami-butuh-kamu .kbk-content h1 {
  margin: 1rem 0 3rem 0;
  line-height: 1.2em;
}

#aktivitas-kami {
  flex-direction: column;
  text-align: center;
}

#aktivitas-kami h1 {
  font-size: 54px;
  margin: 0.1em 0;
}

#aktivitas-kami p {
  text-align: center;
}

.card p {
  color: #828282;
  font-size: 16px;
  font-weight: 400;
}

.role {
  padding: 3rem;
  border: white;
  background-color: #eaf6f4;
}

.role-card {
  justify-content: space-between;
  display: flex;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fafafa;
  max-width: 25%;
}

aside {
  background-color: #eaf6f4;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

aside img {
  width: 30%;
}

aside h1 {
  margin: 0;
}

footer {
  justify-content: space-between;
  display: flex;
  padding: 2rem 7rem;
  background-color: #2a9d8f;
}

footer img {
  width: 100px;
  height: 100px;
}

table {
  text-align: start;
  color: white;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 4rem;
}

table th {
  text-align: left;
}

.footer-content {
  width: 50%;
  display: flex;
  align-items: end;
  flex-direction: column;
}

footer p {
  color: white;
  font-size: 16px;
}

@media screen and (max-width: 1400px) {
  #home img {
    width: 30rem;
    height: 25rem;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }

  .info {
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  #home {
    padding: 2rem 0 0 2rem;
  }

  article img {
    width: 25rem;
    height: 20rem;
  }
  #home img {
    width: 25em;
    height: 20em;
    align-self: flex-end;
  }

  #pohon-tertanam img {
    width: 8rem;
    height: 10rem;
  }

  .info {
    font-size: 14px;
  }

  .card {
    max-width: 30%;
  }

  .role {
    padding: 1rem;
  }
}

@media screen and (max-width: 900px) {
  article {
    flex-direction: column;
    align-items: center;
  }

  #home {
    padding: 2rem 2rem 0 2rem;
  }

  .home-content {
    max-width: 100%;
  }

  #home img {
    align-self: center;
    justify-content: end;
  }

  #kami-butuh-kamu {
    flex-direction: column-reverse;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translate(0, 8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translate(0, -8px) rotate(-45deg);
  }

  header ul {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    color: #2a9d8f;
  }

  header ul li {
    margin: 16px 0;
  }

  header ul.active {
    left: 0;
    top: 70px;
  }

  header {
    padding: 1rem;
    justify-content: space-between;
  }

  #aktivitas-kami h1 {
    font-size: 36px;
  }

  aside {
    flex-direction: column;
    text-align: center;
  }

  aside img {
    width: 20rem;
  }

  .info {
    font-size: 10px;
    flex-direction: column;
  }

  footer img {
    width: 5rem;
    height: 5rem;
  }

  footer {
    padding: 2rem 2rem;
  }

  .card:nth-child(2n-1) {
    display: none;
  }

  .role-card {
    justify-content: center;
  }

  .card {
    max-width: 50%;
  }

  .footer-content {
    width: 70%;
    align-items: center;
  }

  table {
    table-layout: fixed;
    margin-bottom: 2rem;
    overflow: hidden;
  }

  footer .footer-content p {
    font-size: 10px;
    text-align: end;
  }
}
